[Unit]
After=network-online.target
Description=Dogecoin daemon
Documentation=https://github.com/dogecoin/dogecoin/blob/master/doc/init.md
Wants=network-online.target

[Service]
ConfigurationDirectory=dogecoin
ConfigurationDirectoryMode=0710
ExecStart=/usr/local/bin/dogecoind \
  -conf=/etc/dogecoin/dogecoin.conf \
  -chain=${CHAIN}
ExecStartPre=/bin/chgrp dogecoin /etc/dogecoin
Group=dogecoin
MemoryDenyWriteExecute=true
NoNewPrivileges=true
PermissionsStartOnly=true
PrivateDevices=true
PrivateTmp=true
ProtectHome=true
ProtectSystem=full
Restart=on-failure
RuntimeDirectory=dogecoind
RuntimeDirectoryMode=0710
StateDirectory=dogecoind
StateDirectoryMode=0710
TimeoutStartSec=infinity
TimeoutStopSec=600
Type=simple
User=dogecoin

[Install]
WantedBy=multi-user.target
