<h1>Dune Balances</h1>
<table>
  <tr>
    <th>dune</th>
    <th>balances</th>
  </tr>
%% for (dune, balances) in &self.balances {
  <tr>
    <td><a href=/dune/{{ dune }}>{{ dune }}</a></td>
    <td>
      <table>
%% for (outpoint, balance) in balances {
        <tr>
          <td class=monospace>
            <a href=/output/{{ outpoint }}>{{ outpoint }}</a>
          </td>
          <td class=monospace>
            {{ balance }}
          </td>
        </tr>
%% }
      </table>
    </td>
  </tr>
%% }
</table>
